html, body {
    background-color: #000000;
    height: 100%;
    overflow-x: hidden !important;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

h4 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400 !important;
}

h5 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

a {
    color: #039be5;
    text-decoration: none !important;
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
}

a:active, a:hover {
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

nav {
    z-index: 999;
    width: 95%;
    height: 8%;
    min-height: 30px;
    line-height: 350%;
    border-bottom-right-radius: 20px;
    position: fixed;
    background-color: #EEEEEE;
    box-shadow: 5px 15px 20px #696969;
}

#nav-wrapper {
    position: relative;
    height: 100%;
}

#nav-logo {
    position: absolute;
    color: #fff;
    display: inline-block;
    width: 17%;
    padding: 0;
    margin-top: 0.7%;
    margin-left: 2%;
}

#nav-list {
    float: right !important;
    margin: 0;
}

.nav-link {
    display: block;
    color: #5f5f5f;
    text-align: center;
    text-decoration: none;
    font-size: 1.5vw;
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    padding: 0 10px;
    cursor: pointer;
}

.nav-sub {
    display: inline;
    float: left;
    font-family: sans-serif;
    -webkit-transition: background-color .3s;
            transition: background-color .3s;
    padding: 0;
}

.nav-sub:hover {
    background-color: rgba(0, 0, 0, 0.075);
}

.nav-sub.active {
    background-color: rgba(0, 0, 0, 0.125);
}

.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

footer {
    padding: 0.8%;
    color: #FFF;
}

#footer-icon-holder {
    text-align: center;
}

.footer-icon {
    width: 2.5%;
    margin: 0.6%;
    margin-bottom: 0;
}

#footer-rule {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 4%;  
}