html, body {
    background-color: #000000;
    height: 100%;
    overflow-x: hidden !important;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

h1 {
    text-align: center;
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 300;
    font-size: 36px;
}

h2 {
    text-align: center;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

h3 {
    text-align: center;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

h4 {
    font-family: 'Quicksand', sans-serif !important;
    font-weight: 400 !important;
}

h5 {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

h6 {
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400;
}

p {
    font-family: 'Roboto', sans-serif !important;
    font-weight: 400;
}

a {
    color: #039be5;
    text-decoration: none !important;
    background-color: transparent !important;
    -webkit-tap-highlight-color: transparent !important;
}

a:active, a:hover {
    outline: 0;
}

.container {
    margin: 0 auto;
    max-width: 1280px;
    width: 90%;
}

/* start nav */
nav{
    position: fixed;
    width: 100%;
    z-index: 1;
    padding:10px;
    background: #000;
}
.fa-bars{
    display: none;
}
#nav-wrapper{
    float: right;
    margin-right: 30px;
    transition: 0.5s;
}
ul li {
    display: inline-block;
    padding:0px 10px;
}
ul li a{
    color:#fff;
    font-size: 1.5rem;
    transition: 0.5s;
}
ul li a:hover{
    color:#03A4EE;
}
.close-btn{
    display:none;
}
/* end nav */



.hoverable {
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
}

.hoverable:hover {
    -webkit-box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



footer {
    padding: 0.8%;
    color: #FFF;
}

#footer-icon-holder {
    text-align: center;

}
#footer-icon-holder a i{
    margin:5px;
    color:#fff;
}

.footer-icon {
    /* width: 2.5%;
    margin: 0.6%;
    margin-bottom: 0; */
}

#footer-rule {
    width: 80%;
    margin-top: 3%;
    margin-bottom: 4%;  
}

@media(max-width:900px){
    /* start navigation */
    nav{
        text-align: center;
        z-index: 100;
      
    }
    .fa-bars{
        display: block;
        cursor: pointer;
    }
    nav i{
        float: left;
    }
    #nav-wrapper{
     position: fixed;
     top: 0;
     left: 0;
     width: 0%;
     padding-top:50px;
     background: #333;
     height: 100%;
     overflow-x: hidden;
     
    }
    ul li {
        display: block;
        padding:20px;
        text-align: center;
    }
    ul li a{
        font-size: 25px;
    }
    .close-btn{
        display: block;
        font-size: 35px;
        font-weight: bold;
        position: absolute;
        top:10px;
        right: 20px;
        cursor: pointer;
    }

    /* end of navigation */
 
}
@media(min-width:900px){
   
}