html, body {
	overflow-x: hidden;
	padding: 0;
	margin: 0;
}

h1 {
	text-align: center;
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 300;
}

h3 {
	text-align: center;
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

h4 {
	text-align: center;
	font-family: 'Quicksand', sans-serif !important;
	font-weight: 400 !important;
}

h5 {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

p {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
}



nav {
	z-index: 999;
	width: 95%;
	height: 8%;
	min-height: 50px;
	line-height: 350%; /* Add to every 'nav' element specifier if nav bar fail. */
	border-bottom-right-radius: 10px;
	position: fixed;
	background-color: #EEEEEE;
	box-shadow: 5px 5px 10px #666666;
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	height: 8%;
}

nav .button-collapse i {
	height: 8%;
}

@media only screen and (min-width: 601px){
	nav, nav .nav-wrapper i, nav a.button-collapse, nav a.button-collapse i {
		height: 8%;
	}
}

#nav-logo {
	margin-top: 0.5%;
	margin-left: 2%;
}

.nav-sub {
	display: inline;
	float: left;
	font-family: sans-serif;
}

.nav-link {
	display: block;
	color: #5f5f5f;
	text-align: center;
	text-decoration: none;
	font-size: 125%;
}

.nav-link:hover {
	text-shadow: #000000;
	text-decoration: underline;
}

.material-icons {
	font-size: 36px !important;
}

.parallax-container {
	height: 500px;
}

#footer-head {
	text-align: left;
}

#footer-body {
	text-align: left;
}

.card {
	width: 80%;
	border-radius: 20px !important;
	margin: 4%;
	margin-right: 10%;
	margin-left: 10%;
}

@media all and (min-width: 601px) {
	.card {
		width: 49%;
		margin-top: 2% !important;
		margin-bottom: 2% !important;
	}

	.card-left {
		float: left;
		margin: 0;
	}

	.card-right {
		float: right;
		margin: 0;
	}
}

.spec-bar {
	width: 80%;
	border: none;
	height: 1px;
	color: #555555;
	background-color: #555555;
}

.spec-header {
	width: 30%;
	text-align: right;
	float: left;
}

.spec-head {
	color: #696969;
	margin-top: 10px;
	text-align: right;
}

.spec-spec {
	font-size: 100%;
	color: #222222;
	width: 60%;
	float: right;
	text-align: left;
	line-height: 1.6;
}

#pg5-img-holder {
	text-align: center;
}

.page5-splitter {
	width: 50%;
}

#left-splitter {
	float: left;
	text-align: center;
}

#right-splitter {
	float: right;
	text-align: center;
}

.splitter-header {
	font-size: 200%;
}

.splitter-desc {
	text-align: center;
	font-size: 100%;
}

.splitter-content {
	width: 30%;
}
