#content {
    padding-top: 5%;
    color: #111;
    background-color: #FFF;
    text-align: center;
}

#main_header {
    font-size: 60px;
}


.head {
    display: inline;
    font-size: 60px !important;
    color: #555;
    margin-top: 10px;
    text-align: right;
}



#main_banner {
    font-size: 80px;
    color: #444;
    margin-bottom: 2%;
}

#specs{
    background: #fff;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    align-items: center;
    box-shadow: 0px 1px 5px rgba(104,104,104,0.8);
    width: 100%;
    margin: 20px;
    padding:10px;
    margin: 0 auto;
}
.header{
    text-align: center;
}
.spec{
    text-align: center;
}
.sale{
    text-align: center;
}
.sale button{
    padding:10px 40px;
    font-size: 20px;
    cursor: pointer;
    background: #1C9CEA;
    color:#fff;
    border: none;
}