#main_container {
	margin-top: 7%;
	color: #FFF !important;
	text-align: center;
}

#main_header {
	font-size: 60px;
	margin-bottom: 0;
}

#main_image {
	/*margin-top: -30%;*/
}

#overlay-container {
	position: relative;
	margin: 0;
	padding: 0;
	height: auto;
	width: 100%;
}

#overlay-image {
	top: 0;
	left: 0;
	margin: 0 auto;
	padding: 0;
	display: block;
}

#overlay-text {
	top: 20%;
	z-index: 10;
	left: 60%;
	position: absolute;
}

.carousel {
	background-color: #FFF;
	position: relative;
	width: 100%;
	height: 80%;
	margin: 0;
	margin-top: 4%;
	padding: 0;
	overflow: hidden;
	box-shadow: 0 2px 6px rgba(0,0,0,0.3);
}

.carousel:hover .slide:after,
.carousel:hover .counter,
.carousel:hover .slide:before {
  opacity: 1;
}

.tab-img {
	position: absolute;
	left: 0;
}

.tab-title {
	position: absolute;
	top: 5%;
	left: 12%;
	font-size: 60px;
}

.tab-text {
	position: relative;
	text-align: left;
	margin-left: 3%;
}

.slide {
	float: right;
	position: absolute;
	z-index: 1;
	width: 100%;
	height: 100%;
	background-color: #eee;
	text-align: center;
	transition: opacity 0.4s;
	opacity: 1;
}

.slide:after {
	display: block;
	content: attr(annot);
	position: absolute;
	bottom: 0;
	transition: opacity 0.3s;
	width: 100%;
	opacity: 0;
	background-image: linear-gradient(transparent, rgba(0,0,0,0.5));
	text-align: left;
	font-size: 60px;
	text-align: center;	color: rgba(255,255,255,0.9);
	text-shadow: 0 0 10px #000;
}

.counter {
	position: absolute;
	bottom: 20px;
	right: 1px;
	height: 20px;
	width: 60px;
	z-index: 2;
	text-align: center;
	color: #fff;
	line-height: 21px;
	font-size: 13px;
	opacity: 0;
	transition: opacity 0.3s;
}

.faux-ui-facia {
	top: 0;
	right: 0;
	float: right;
	position: absolute;
	margin-top: 0;
	z-index: 9;
	height: 100%;
	width: 100%;
	opacity: 0;
	cursor: pointer;
}

.faux-ui-facia:checked {
	z-index: 8;
}

.faux-ui-facia:checked + .slide {
	opacity: 0;
}

.faux-ui-facia:checked:nth-child(1):checked {
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked {
	float: left;
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked + .slide {
	opacity: 1;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia {
	float: left;
	z-index: 8;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia + .slide {
	opacity: 0;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked {
	z-index: 9;
}

.faux-ui-facia:nth-child(1):checked ~ .faux-ui-facia:checked + .slide {
	opacity: 1;
}
