.parallax {
    position: relative;
    width: 110%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    left: -10%;
}

.parallax_caption {
    position: absolute;
    top: 20%;
    width: 100%;
    text-align: center;
    color: #FFF;
    font-size: 25px;
    left: -10%;
}


#hero_header {
    letter-spacing: 3.5px;
    font-size: 80px;
    margin-bottom: 1%;
}

#hero_description {
    color: #DDD;
    margin-top: 0;
    margin-bottom: 6%;
    letter-spacing: 1.5px;
    font-size: 30px;
}

.parallax_break {
    color: #777;
    background-color:white;
    text-align:center;
    padding-top: 2%;
    padding-bottom: 2%;
    text-align: justify;
}

.icon_block {
    display: inline-block;
    padding-left: 2%;
    padding-right: 2%;
    margin-left: 2%;
    margin-right: 2%;
    width: 25%;
    background-color: #EEE;
    border-radius: 1px;
}

.material-icons {
    font-size: 36px;
}

.pulse {
    margin-left: 5%;
    margin-right: 5%;
    width: 60px;
    height: 60px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    line-height: 75px;
    border-radius: 50%;
    background: #5a99d4;
    cursor: pointer;
    box-shadow: 0 0 0 0 rgba(90, 153, 212, 0.5);
    -webkit-animation: pulse 1.6s infinite;
}

@-webkit-keyframes pulse {
    0% {
        transform: scale(0.9);
    }
    70% {
        transform: scale(1.1);
        box-shadow: 0 0 0 40px rgba(90, 153, 212, 0);
    }
    100% {
        transform: scale(0.9);
        box-shadow: 0 0 0 0 rgba(90, 153, 212, 0);
    }
}
