#main_container {
    color: #FFF !important;
}

#main_header {
    font-size: 60px;
    margin-bottom: 0;
}

#main_card_holder, #card_pair_holder {
    background-color: #FFF;
    background: -webkit-linear-gradient(#666, #FFF); 
    background: -o-linear-gradient(#666, #FFF); 
    background: -moz-linear-gradient(#666, #FFF);
    background: linear-gradient(#666, #FFF); 
    width: 100%;
}
.card_pair_holder{
    transition: 0.5s;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    grid-gap: 5%;
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10px;
    padding-top:50px;
    margin-bottom: 50px;
}
.card {
    background-color: #FFF;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 20px 0 rgba(0,0,0,0.3);
    transition: 0.3s;
    border-radius: 10px;
}

.card:hover {
    box-shadow: 0 20px 40px 0 rgba(0,0,0,0.5);
}




@media(max-width:900px){
    .card_pair_holder{
        grid-template-columns: 1fr;
    }
}